.portfolio {
  .portfolioContent {
    width: 100%;
    display: grid;
    min-height: $minHeight;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "1"
      "2";
  }

  .radioDisplay {
    grid-area: 1;
    border-radius: $borderRadius;
    display: flex;
    padding: 1rem 2rem;
    background: $color-1;
    box-shadow: $shadow;
    font-size: 1.3rem;
    color: $color-5;
    justify-content: center;
  }
  .contentOben {
    margin-top: 50px;
    grid-area: 1;
    display: flex;
    padding: 1rem 2rem;
    box-shadow: $shadow;
    justify-content: center;
  }
}
@media (max-width: 650px) and (min-width: 521px){
  .portfolioContent {
  }
}
@media (max-width: 520px){
  .radioDisplay {
    display: none !important;
  }
  .portfolioContent {
    grid-template-rows: 1fr !important;
  }
}